<div id="weixin" >
  <p>关注我的微信公众账号</p>
  <img src="http://ww3.sinaimg.cn/large/69d56e38gw1efbhqnrgj2j20760763z1.jpg" alt="">
</div>
<script type="text/javascript">
  (function(window){
    var check = false;
    if('DeviceOrientationEvent' in window || 'orientation' in window){
      check = true;
    }
    if (/Windows NT|Macintosh|Mac OS X|Linux/i.test(window.navigator.userAgent)){
      check = false;
    }
    if (/alcatel|android|au-mic|audiovox|avantgo|blackberry|blazer|bolt|cldc-|danger|dream|epoc|ericsson|ericy|htc|ipad|ipaq|iphone|ipod|j2me|kindle|lg-|lge|meego|midp-|mobile|mot|netfront|nintendo|nitro|nokia|opera mini|palm|palmsource|panasonic|philips|playstation|pocketpc|portalmmm|rover|samsung|sanyo|series60|sharp|sie-|smartphone|sony|symbian|teleca|up.browser|up.link|vnd.wap.xhtml+xml|vodafone|wap1|wap2|webos|windows ce|windows phone/i.test(window.navigator.userAgent)){
      check = true;
    }

    if(check) {
      var weixinDiv = document.querySelector("#weixin");
      weixinDiv.style.display = "none";
    }

  })(window);
</script>
<ul id="social-links" style="text-align:center">
  <iframe width="200px" height="72px" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1775595064&verifier=34d9820b&dpc=1"></iframe>
  {% if site.github_user %}
  <!-- GitHub -->
  <li>
  <a href="https://github.com/{{ site.github_user }}" class="github" title="Github"></a>
  </li>
  {% endif %}
  {% if site.googleplus_user %}
  <!-- Google Plus -->
  <li>
  <a href="http://plus.google.com/{{ site.googleplus_user }}?rel=author" class="google" title="Google+"></a>
  </li>
  {% endif %}
  {% if site.facebook_user %}
  <!-- Facebook -->
  <li>
  <a href="http://www.facebook.com/{{ site.facebook_user }}" class="facebook" title="Facebook"></a>
  </li>
  {% endif %}
  {% if site.twitter_user %}
  <!-- Twitter -->
  <li>
  <a href="http://www.twitter.com/{{ site.twitter_user }}" class="twitter" title="Twitter"></a>
  </li>
  {% endif %}
  {% if site.linkedin_user %}
  <!-- LinkedIn -->
  <li>
  <a href="http://www.linkedin.com/in/{{ site.linkedin_user }}" class="linkedin" title="LinkedIn"></a>
  </li>
  {% endif %}
  {% if site.skype_user %}
  <!-- Skype -->
  <li>
  <a href="http://myskype.info/{{ site.skype_user }}" class="skype" title="Skype"></a>
  </li>
  {% endif %}
  {% if site.youtube_user %}
  <!-- Youtube -->
  <li>
  <a href="http://youtube.com/user/{{ site.youtube_user }}" class="youtube" title="Youtube"></a>
  </li>
  {% endif %}
  {% if site.lastfm_user %}
  <!-- LastFM -->
  <li>
  <a href="http://www.lastfm.com/user/{{ site.lastfm_user }}" class="lastfm" title="LastFM"></a>
  </li>
  {% endif %}
</ul>
