---
layout: default
---

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post">{% include article.html %}</article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">Next</a>
    {% endif %}
    <div class="center"><a href="{{ root_url }}/blog/archives">Blog Archives</a></div>
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript">
      var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_r.js?move=0&amp;btn=r2.gif&amp;uid=1341920728041342" charset="utf-8"></script>
    <!-- JiaThis Button END -->
</nav>
